<link href='/style.css' rel='stylesheet' type="text/css"/>

<h1>Fill out your RadLib!</h1>
<ul>
    <li><a href="/">Home Page</li>
    <li><a href="/Uploadpage">Upload a RadLib</li>
</ul>

<form action = "" enctype = 'multipart/form-data' method = 'POST'>
    <input type = 'text' title = 'Noun' name='noun' placeholder = "Noun"> 
    <br>
    <br>
     <input type = 'text' name='verb' placeholder = "Verb">
    <br>
    <br>
     <input type = 'text' name = 'adjective' placeholder = 'Adjective'>
    <br>
    <br>
    <input type = 'submit' name = 'submitButton' value = 'Upload!')> 
    </form>