<DOCTYPE HTML>
<HTML>
<head></head>
<body>
<h1>Upload your Madlib here!</h1>
<form action = "/upload" enctype = 'multipart/form-data' method = 'POST'>
    <input type = 'file' name='myfile'>
    <br>
    <input type = 'submit' value = 'Upload!')> 
    </form>
<p></p>
</body>
</HTML>